{%- if article.image -%}


        <div id="shopify-section-template--15487842910261__promo-grid" class="shopify-section">
          <div data-section-id="template--15487842910261__promo-grid" data-section-type="promo-grid">
            <div class="page-width promo-page-width">
          
          
        {%- style -%}
        .template-article .blog-layout{
          width: 100%;
          max-width: unset;
          padding-left: unset;
          padding-right: unset;
        }
        .section-header .article__sub-meta {
          margin-top: 50px;
        }
        .flex-grid--{{ section.id }} {
          margin-top: -{{ section.settings.gutter_size }}px;
          margin-left: -{{ section.settings.gutter_size }}px;
          {% if section.settings.full_width %}
            padding-left: {{ section.settings.gutter_size }}px;
            padding-right: {{ section.settings.gutter_size }}px;
          {% endif %}
        }
    
        .flex-grid--{{ section.id }} .flex-grid--gutters {
          margin-top: -{{ section.settings.gutter_size }}px;
          margin-left: -{{ section.settings.gutter_size }}px;
        }
    
        .flex-grid--{{ section.id }} .flex-grid__item {
          padding-top: {{ section.settings.gutter_size }}px;
          padding-left: {{ section.settings.gutter_size }}px;
        }
    
        @media only screen and (max-width: 589px) {
          .flex-grid--{{ section.id }} {
            margin-top: -{{ section.settings.gutter_size | divided_by: 2 }}px;
            margin-left: -{{ section.settings.gutter_size | divided_by: 2 }}px;
            {% if section.settings.full_width %}
              padding-left: {{ section.settings.gutter_size | divided_by: 2 }}px;
              padding-right: {{ section.settings.gutter_size | divided_by: 2 }}px;
            {% endif %}
          }
    
          .flex-grid--{{ section.id }} .flex-grid--gutters {
            margin-top: -{{ section.settings.gutter_size | divided_by: 2 }}px;
            margin-left: -{{ section.settings.gutter_size | divided_by: 2 }}px;
          }
    
          .flex-grid--{{ section.id }} .flex-grid__item {
            padding-top: {{ section.settings.gutter_size | divided_by: 2 }}px;
            padding-left: {{ section.settings.gutter_size | divided_by: 2 }}px;
          }
        }
      {%- endstyle -%}
          
          
      <div class="promo-grid promo-grid--space-top">
        <div class="flex-grid flex-grid--gutters flex-grid--template--15487842910261__promo-grid">
            <style data-shopify="">
                  .flex-grid__item--53e376bf-9672-42f3-a94b-f2a669582d6d {
                    min-height: 240.0px;
                  }
      
                  @media only screen and (min-width: 769px) {
                    .flex-grid__item--53e376bf-9672-42f3-a94b-f2a669582d6d {
                      min-height: 320.0px;
                    }
                  }
      
                  @media only screen and (min-width: 1140px) {
                    .flex-grid__item--53e376bf-9672-42f3-a94b-f2a669582d6d {
                      min-height: 400px;
                    }
                  }                
      
                .flex-grid__item--53e376bf-9672-42f3-a94b-f2a669582d6d .btn {
                    background: #ffffff !important;
                    border: none !important;
                    color: #000 !important;                    
                 }                
            </style>
            
        <div class="flex-grid__item flex-grid__item--100 flex-grid__item--53e376bf-9672-42f3-a94b-f2a669582d6d type-advanced">
          <div class="promo-grid__container vertical-bottom horizontal-left">
            <div class="promo-grid__bg">
              <div data-subsection="" data-section-id="53e376bf-9672-42f3-a94b-f2a669582d6d" data-section-type="video-section" class="promo-video video-parent-section loaded">
                <div class="background-media-text__video">
                   <img src="{{ article.image | image_url }}" />
                </div>
              </div>
            </div>
            <div class="promo-grid__content">
              <div class="promo-grid__text">
                <div class="rte--block rte--strong">
                    {{ article.title }}
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
  </div>
</div>
      
      
      </div>

{%- endif -%} 


{% schema %}
  {
    "name": "Article banner",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}