<div id="collvid-{{ section.id }}" class="coll-with-video">

  <div
    data-section-id="{{ product.id }}"
    data-subsection
    data-section-type="collection-template"
    class="index-section index-section--sub-product">
    <div class="page-width small--hide">
      <header class="section-header header-recommendation">
        <div class="h3 section-header__title">
          {{ section.settings.product_recommendations_heading }}
        </div>
        {% if section.settings.product_recommendations_sub_heading != blank %}
          <div class="recommand-short-desc">
            {{ section.settings.product_recommendations_sub_heading }}
          </div>
        {% endif %}
      </header>
    </div>



    
{%- if section.settings.product_recommendations_video != blank -%}
          <div class="mobile-visible mobile-video-box">
              <video playsinline muted loop autoplay width="100%" height="597"><source src="movie.mp4" type="video/mp4"><source src="{{ section.settings.product_recommendations_video }}" type="video/mp4"></video>
          </div>
{%- endif -%}



<div class="page-width page-width--flush-small">
      
    <div class="product-recommendations-placeholder">

      {%- if section.settings.collection_products != blank and collections[section.settings.collection_products].products_count > 0 -%}

        <div class="product-recommendations">
              <div class="page-width mobile-visible">
                    <header class="section-header header-recommendation">
                        <div class="h3 section-header__title">
                          {{ section.settings.product_recommendations_heading }}
                        </div>
                        {% if section.settings.product_recommendations_sub_heading != blank %}
                          <div class="recommand-short-desc">
                            {{ section.settings.product_recommendations_sub_heading }}
                          </div>
                        {% endif %}
                    </header>
              </div>          
              <div data-section-type="collection-template" class="new-grid product-grid scrollable-grid--small" data-view="scrollable">
                  {%- if section.settings.product_recommendations_video != blank -%}
                      <div class="grid-item grid-product ads-video-box small--hide">
                        <video playsinline muted loop autoplay width="100%" height="597"><source src="movie.mp4" type="video/mp4"><source src="{{ section.settings.product_recommendations_video }}" type="video/mp4"></video>
                      </div>
                  {%- endif -%}
               
                  {%- for product in collections[section.settings.collection_products].products limit:3 -%}                    
                    {%- render 'custom2-product-grid-item', product: product -%}                    
                  {%- endfor -%}

                  {%- if section.settings.product_recommendations_video2 != blank -%}
                      <div class="grid-item grid-product ads-video-box small--hide coll_mul_vide_2">
                        <video playsinline muted loop autoplay width="100%" height="597"><source src="movie.mp4" type="video/mp4"><source src="{{ section.settings.product_recommendations_video2 }}" type="video/mp4"></video>
                      </div>
                  {%- endif -%}
              </div>
      
                {%- liquid
                  if settings.quick_shop_enable
                    for product in collections[section.settings.collection_products]
                      render 'quick-shop-modal', product: product
                    endfor
                  endif
                -%}
          </div>

    
      {%- endif -%}  
      
    </div>
  </div>

{%- if section.settings.product_recommendations_video2 != blank -%}
          <div class="mobile-visible mobile-video-box coll_mul_vide_3">
              <video playsinline muted loop autoplay width="100%" height="597"><source src="movie.mp4" type="video/mp4"><source src="{{ section.settings.product_recommendations_video2 }}" type="video/mp4"></video>
          </div>
{%- endif -%}

    
</div>
</div>


{% schema %}
{
  "name": "Collection with video 2",
  "settings": [
    {
      "type": "paragraph",
      "content": "t:sections.product-recommendations.settings.content"
    },
    {
      "type": "text",
      "id": "product_recommendations_heading",
      "label": "t:sections.product-recommendations.settings.product_recommendations_heading.label",
      "default": "You may also like"
    },
    {
      "type": "text",
      "id": "product_recommendations_sub_heading",
      "label": "Short Description"
    },
    {
      "type": "text",
      "id": "product_recommendations_video",
      "label": "Video Url"
    },
    {
      "type": "text",
      "id": "product_recommendations_video2",
      "label": "Video Url 2"
    },
    {
      "type": "collection",
      "id": "collection_products",
      "label": "Select a collection(optional)"
    }
  ],  
  "presets": [
    {
      "name": "Collection with multiple video"    
    }
  ]
}
{% endschema %}
