{%- style -%}
    .video-with-product-slider .homepage-video-box{
       height:597px !important; 
    }
    .video-with-product-slider video {
       object-fit: cover !important; 
    }
    .video-with-product-slider .top-heading{
      margin-bottom:10px;
    }
    .video-with-product-slider .index_2{
      padding-left:100px;
    }
    .video-with-product-slider .index_2 .custom__item-inner .rte {
      padding-left:40px;
    }
{%- endstyle -%}


{%- if section.settings.space_around -%}
  <div class="index-section">
{%- endif -%}
{%- unless section.settings.full_width -%}
  <div class="page-width">
{%- endunless -%}
  <div class="custom-content video-with-product-slider {{ section.settings.custom_class }}">
  {%- for block in section.blocks -%}
    {% assign block_width = 'one-whole' %}
    <div class="index_{{ forloop.index }} custom__item {{ block_width }}" {{ block.shopify_attributes }}>
      <div class="custom__item-inner custom__item-inner--{{ block.type }}{% if block.settings.image == blank and block.type == 'image' %} homepage-video-box custom__item-inner--placeholder-image{% endif %}">
        {%- case block.type -%}
          {%- when 'liquid' -%}
            {%- if block.settings.code != blank -%}
              <div class="rte">
                {{ block.settings.code }}
              </div>
              {%- if block.settings.collection_products != blank and collections[block.settings.collection_products].products_count > 0 -%}
                <div data-section-type="collection-template" class="new-grid product-grid product-slider-container collection-grid" data-view="xsmall">
                {%- liquid
                   assign product_limit = block.settings.count | plus: 1
                   for product in collections[block.settings.collection_products].products limit: product_limit
                      assign item_classes = ''
                      if forloop.index > block.settings.count
                        assign item_classes = 'hide'
                        assign mod = forloop.index | modulo: 2
                        if mod == 0
                          assign item_classes = 'medium-up--hide'
                        endif
                      endif
                    render 'custom-product-grid-item', product: product, collection: collection, classes: item_classes
                  endfor
                -%}                
                </div>
              {%- endif -%}
            {%- else -%}
              <div class="rte">
                {{ 'home_page.onboarding.no_content' | t }}
              </div>
            {%- endif -%}
          {%- when 'image' -%}
            {%- if block.settings.link != blank -%}
              <a href="{{ block.settings.link }}">
            {%- endif -%}
            {%- if block.settings.video_link == blank -%}
                {%- if block.settings.image != blank -%}
                  <div class="image-wrap" style="height: 0; padding-bottom: {{ 100 | divided_by: block.settings.image.aspect_ratio }}%;">
                    {%- assign img_url = block.settings.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                    <img class="lazyload"
                        data-src="{{ img_url }}"
                        data-widths="[360, 540, 720, 900, 1080, 1600]"
                        data-aspectratio="{{ block.settings.image.aspect_ratio }}"
                        data-sizes="auto"
                        alt="{{ block.settings.image.alt }}">
                    <noscript>
                      <img class="lazyloaded" src="{{ block.settings.image | img_url: '400x' }}" alt="{{ block.settings.image.alt }}">
                    </noscript>
                  </div>
                  {%- else -%}
                    <div class="image-wrap">
                      {{ 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg' }}
                    </div>
                {%- endif -%}
            {%- endif -%}
            {%- if block.settings.link != blank -%}
              </a>
            {%- endif -%}

            {%- if block.settings.video_link != blank -%}
                <video playsinline muted loop autoplay width="100%" height="597"><source src="movie.mp4" type="video/mp4"><source src="{{ block.settings.video_link }}" type="video/mp4"></video> 
            {%- endif -%}
        
        {%- endcase -%}
      </div>
    </div>
  {%- endfor -%}
  {%- if section.blocks.size == 0 -%}
    <div class="page-width">
      <div class="grid">
        <div class="grid__item">
          <div class="rte ps_heading">
            {{ 'home_page.onboarding.no_content' | t }}
          </div>
        </div>
      </div>
   </div>
  {%- endif -%}
  </div>
{%- unless section.settings.full_width -%}
  </div>
{%- endunless -%}
{%- if section.settings.space_around -%}
  </div>
{%- endif -%}


{% schema %}
{
  "name": "Product Slider",   
  "max_blocks": 1,
  "settings": [
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "t:sections.advanced-content.settings.full_width.label",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "space_around",
      "label": "t:sections.advanced-content.settings.space_around.label",
      "default": true
    },
    {
      "type": "text",
      "id": "custom_class",
      "label": "Custom class"
    }
  ],
  "blocks": [
    {
      "type": "liquid",
      "name": "Product Slider",
      "settings": [
        {
          "type": "liquid",
          "id": "code",
          "label": "t:sections.advanced-content.blocks.html.settings.code.label",
          "default": "<h2>Custom content</h2><p>Use this advanced section to build your own layouts or to add custom HTML, Liquid, or scripts.</p>",
          "info": "t:sections.advanced-content.blocks.html.settings.code.info"
        },
        {
          "type": "select",
          "id": "width",
          "label": "t:sections.advanced-content.blocks.html.settings.width.label",
          "default": "100%",
          "options": [           
            {
              "value": "100%",
              "label": "100%"
            }
          ]
        },
        {
          "type": "collection",
          "id": "collection_products",
          "label": "Select a collection"
        },
        {
          "type": "range",
          "id": "count",
          "label": "t:sections.featured-collection.settings.count.label",
          "default": 3,
          "min": 2,
          "max": 10,
          "step": 1
        }
        
      ]
    }   
  ],
  "presets": [
    {
      "name": "Product Slider",
      "blocks": [
        {
          "type": "liquid",
          "settings": {
            "width": "100%"
          }
        }
      ]
    }
  ]
}
{% endschema %}
